{
	"plugins": ["@babel/plugin-transform-runtime",  [
		"module-resolver", {
			"root": ["./"],
			"alias": {
				"components": "./src/components",
				"features": "./src/features",
				"hocs": "./src/hocs",
				"store": "./src/store",
				"static": "./static",
				"pages": "./pages"
			}
		}
	]],
	"presets": [
		"next/babel"
	]
  }